:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --accent-hover-color: #188ce8;
  --white-text-color: #ffffff;
  --button-bg-grey-color: #f5f4fa;
  --main-bg-color: #fffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-grey-color: #2f303a;
  --border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --social-bg-lighte-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.contacts-list {
  display: none;
}

.navigation-list {
  display: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-accent {
  color: var(--accent-text-color);
}

.logo-accent:hover {
  color: var(--accent-hover-color);
}

.logo-accent:hover {
  color: var(--accent-hover-color);
}

.logo-black-color {
  color: #000000;
}

.mobile-menu-container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffff;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms linear, visibility 250ms liener;
  transition: opacity 250ms linear, visibility 250ms liener;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-btn {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
}

.mobile-menu-btn-icon {
  color: #000000;
  line-height: 0;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.mobile-menu-item {
  margin-bottom: 32px;
}

.mobile-menu-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 40px;
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.mobile-menu-link:hover, .mobile-menu-link.focus {
  color: var(--accent-hover-color);
}

.mobile-menu-nav {
  margin-bottom: 306px;
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-menu-contact-link-tel {
  display: block;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.mobile-menu-contact-link-tel:hover, .mobile-menu-contact-link-tel:focus {
  color: var(--accent-hover-color);
}

.mobile-menu-contact-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.mobile-menu-contact-link-mail:hover, .mobile-menu-contact-link-mail:focus {
  color: var(--accent-hover-color);
}

.mobile-menu-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu-social-media-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.mobile-menu-social-media-link:hover, .mobile-menu-social-media-link:focus {
  color: var(--accent-hover-color);
}

.mobile-menu-social-media-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 1px;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 88px;
  }
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
  .navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover {
    color: var(--accent-text-color);
  }
  .navigation-link:focus {
    color: var(--accent-text-color);
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-item {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-list {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contact-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .contact-telephon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-telephon-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  :hover,
  :focus {
    color: var(--accent-text-color);
  }
  .contact-mail-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-mail-link:hover,
  .contact-mail-link :focus {
    color: var(--accent-text-color);
  }
  .mail-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.navigation-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-hover-color);
  border-radius: 2px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-mail {
    margin-right: 50px;
  }
  .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-hover-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: var(--accent-hover-color);
}

.active {
  color: var(--accent-text-color);
}

.hero {
  max-width: 1600px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img5.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img5.jpg");
  background-size: cover;
  background-color: #c4c4c4;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  min-width: 696px;
  margin-bottom: 30px;
}

.description-second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.description-image {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.description-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-list-item {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
}

.description-list-item:last-child {
  margin-right: 0px;
}

.description-list-item:not(:last-child) {
  margin-right: 30px;
}

.about {
  padding-top: 0;
}

.about-title,
.team-title,
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.about-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-list-photo:not(:last-child) {
  margin-right: 30px;
}

.about-list-photo {
  position: relative;
}

.about-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}

.team-member-photo {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-teatle {
  margin-bottom: 50px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-member-profesion {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team-under-photo-content {
  padding: 30px 32px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.social-icon-in-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  color: var(--social-icon-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-icon:hover, .social-icon:focus {
  color: var(--white-text-color);
  background-color: var(--accent-hover-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  align-items: center;
  color: var(--social-icon-color);
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-link:hover, .client-icon-link:focus {
  color: var(--accent-hover-color);
  border: 1px solid var(--accent-hover-color);
}

.client-icon {
  fill: currentColor;
}

.client-icon-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-grey-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 15px;
  margin: 0 auto;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  font-style: normal;
  min-width: 230px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover {
  color: var(--accent-hover-color);
}

.address:focus {
  color: var(--accent-hover-color);
}

.address-link {
  display: inline-block;
  margin-bottom: 8px;
}

.mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover {
  color: var(--accent-hover-color);
}

.mail:focus {
  color: var(--accent-hover-color);
}

.footer-contact-mail-link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-mail-link:hover, .footer-contact-mail-link:focus {
  color: var(--accent-hover-color);
}

.phone-number {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-number:hover {
  color: var(--accent-hover-color);
}

.phone-number:focus {
  color: var(--accent-hover-color);
}

.address-list {
  display: block;
}

.address-list,
.mail {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

a.logo.link {
  display: block;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.logo-white-color {
  color: var(--white-text-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-social-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link:hover, .footer-social-icon-link:focus {
  background-color: var(--accent-hover-color);
}

.footer-social-icon {
  color: var(--white-text-color);
}

.footer-social-icon-link {
  fill: currentColor;
}

.footer-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  width: 570px;
  height: 78px;
}

.footer-form-title {
  display: block;
  margin-left: 93px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-contact-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-btn-submit {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-hover-color);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-submit:hover, .footer-btn-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-hover-color);
}

.footer-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #fff;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: var(--main-text-color);
  cursor: pointer;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-hover-color);
  fill: var(--accent-hover-color);
}

.contact-form-main-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form-title {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-color);
}

.user-name-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: currentColor;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

.contact-form-input:focus + .user-name-icon {
  border-color: var(--accent-hover-color);
  fill: var(--accent-hover-color);
}

.contact-form-textarea {
  display: block;
  margin-bottom: 20px;
}

.contact-form-textarea-text {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-color);
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  cursor: pointer;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.contact-form-message:focus {
  border-color: var(--accent-hover-color);
  outline: none;
}

.contact-form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  border-radius: 3px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 2px solid #000000;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/check.svg);
  outline: none;
}

.contact-form-btn {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-hover-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}

.contact-form-btn:hover, .contact-form-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contact-checkbox-agreement {
  color: var(--accent-text-color);
}

.filter-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.portfolio-filter-list-btn {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  padding-left: 0;
}

.filter-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--button-bg-grey-color);
  border-color: var(--button-bg-grey-color);
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-filter-list-btn:not(:last-child) {
  margin-right: 8px;
}

.active-filter-btn {
  color: var(--white-text-color);
  background-color: var(--accent-hover-color);
}

.portfolio-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.menu-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-item {
  display: block;
  width: 370px;
  margin-bottom: 30px;
}

.portfolio-link-img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-img:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link-img:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: #ffffff;
}

.portfolio-list-container {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 20px 24px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
  background-color: white;
  padding: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-img:hover .overlay,
.portfolio-link-img:focus .overlay {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}
/*# sourceMappingURL=main.css.map */