
// For mobile
.header {
    position: relative;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}
    .contacts-list {
        display: none;
    }

    .navigation-list {
        display: none;
    }

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
    }

.logo-accent{
    color: var(--accent-text-color);
   &:hover {
        color: var(--accent-hover-color);
    }
}
 .logo-accent:hover{  color: var(--accent-hover-color);
}

.logo-black-color {
    color: #000000;
}
.mobile-menu-container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
}
.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffff;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms liener; 
}
.mobile-menu.is-open{

opacity: 1;
visibility: visible;
pointer-events: auto;
}
.mobile-menu-btn {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;

}

.mobile-menu-btn-icon {
   color: #000000;
    line-height: 0;
}
 .mobile-menu-close-btn {
position: absolute;
top: 10px;
right: 15px;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: transparent;
padding: 0;
cursor: pointer;
 }

.mobile-menu-item{
        margin-bottom: 32px;
    }

   .mobile-menu-link {
        color: var(--main-text-color);
        font-weight: 500;
        font-size: 40px;
        text-decoration: none;
        transition: color 250ms linear;

        &:hover,
        &.focus {
            color: var(--accent-hover-color);
        }
    }
    .mobile-menu-nav{
        margin-bottom: 306px;
    }
    .mobile-menu-contact{
        margin-bottom: 64px;
    }
    .mobile-menu-contact-link-tel{
        display: block;
        margin-bottom: 34px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
    &:hover,
    &:focus{
            color: var(--accent-hover-color);
        }
    }
.mobile-menu-contact-link-mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    &:hover,
    &:focus {
        color: var(--accent-hover-color);
    }
}  
.mobile-menu-social-media{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.mobile-menu-social-media-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    &:hover,
    &:focus {
        color: var(--accent-hover-color);
    }
}
.mobile-menu-social-media-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 1px;
    color:var(--text-color);

}

// For tablet
@media screen and (min-width: 768px){
    .mobile-menu-btn {
       display: none;
    }
    .mobile-menu {
        display: none;
    }
   .logo{
       padding-top: 24px;
       padding-bottom: 24px;
    margin-right: 88px;
   }
.navigation-list {
    display: flex;
    align-items: center;
}
  
.navigation {
    display: flex;
    margin-right: 84px;
    
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--accent-text-color);
    }

    &:focus {
        color: var(--accent-text-color);
    }

}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-item {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

}
.contacts-list {
    display: block;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
}
.contact-mail {
    display: flex;
    display: block;
    align-items: center;
    margin-bottom: 10px;

}

.contact-telephon {
    display: flex;
    display: block;
    box-sizing: border-box;
    align-items: center;
}

.contact-telephon-link {
    display: flex;
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    &:hover,
:focus {
    color: var(--accent-text-color);
}
.contact-mail-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    :focus {
        color: var(--accent-text-color);
    }
}

.mail-icon {

    margin-right: 10px;
    fill: currentColor;
}
    }

.navigation-link.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-hover-color);
    border-radius: 2px;
    transform: translateY(1px);
}
  
    




    // For desktop
@media  screen and  (min-width: 1200px){
    .logo {
        margin-right: 92px;
    }
.mobile-menu-btn {
 display: none;
}

.contacts-list {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-mail {
    margin-right: 50px;

}

.navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

    }
        
    