.navigation {
    display: flex;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--accent-text-color);
    }
    &:focus {
        color: var(--accent-text-color);
    }
    &.active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--accent-hover-color);
        border-radius: 2px;
        transform: translateY(1px);
    }
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-item {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

}

.navigation-link.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-hover-color);
    border-radius: 2px;
    transform: translateY(1px);
}