.team-member-photo {
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;

}

.team-member-photo:last-child {
    margin-bottom: 0px;
}

.team-photo {
    max-width: 450px;
    margin-right: 0;
    margin-left: 0;
}

.team-list {

    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}


.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.team-member-profesion {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

.team-under-photo-content {
    padding: 30px 32px;
}

.team {
    width: 100%;
    background-color: var(--secondary-bg-color);
}


@media screen and(min-width:768px) {
    .team-list {
        margin-left: -30px;
        margin-top: -30px;
    }

    .team-photo {

        min-width: 354px;
    }

    .team-member-photo {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
    }

    .team-member-photo:nth-last-child(-n + 2) {
        margin-bottom: 0;

    }
}

@media screen and (min-width:1200px) {
    .team-photo {

        min-width: 270px;
    }

    .team-member-photo {
        flex-basis: calc((100% - 120px) / 4);

    }

    .team-member-photo:nth-last-child(-n + 2) {
        margin-bottom: 30px;
    }
}